body {
  background: #00081e;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#background-img {
  object-fit: contain;
  height: 200%;
  width: 200%;
  z-index: 1;
  left: -50%;
  bottom: -15%;
  margin-left: 0;
  margin-top: 0;
  position: absolute;
  padding: 0;
  filter: brightness(50%);
}

h1, p, li, form  {
  font-family: sans-serif;
  color: #f7f7ed;
}

h1 {
  position: absolute;
  bottom: 50%;
  left: 6%;
  font-size: 85px;
  z-index: 99;
  padding: 0;
}

form {
  position: absolute;
  left: 6%;
  top: 80%; /* Center vertically */
  transform: translateY(-50%);
  width: 75%;
  box-shadow: 20px 20px rgba(34, 50, 161, 0.7);
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 30%;
}

.pollutant-name, .patties, .cooked, .toppings, .cheesy, .bun, .sauce-selection {
  color: #f7f7ed;
}

#logo {
  object-fit: contain;
  width: 100%;
  height: 100%;
  left: -45%;
  bottom: 0;
  position: absolute;
}

#XenoForge-heading {
  color: #f7f7ed;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  left: 8%;
  bottom: 17%;
  font-style: italic;
}

#account-page, #home-page, #process-page, #about-page {
  color: #f7f7ed;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-image: linear-gradient(to right, #18edb4 50%, #030126 50%);
  background-size: 200% 3px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  transition: background-position .3s;
}

#account-page:hover {
  background-position: 0% 100%;
}

#about-page:hover {
  background-position: 0% 100%;
}
#process-page:hover {
  background-position: 0% 100%;
}

#home-page:hover {
  background-position: 0% 100%;
}

#about-page {
  position: absolute;
  bottom: 24%;
  left: 30%;
}

#account-page {
  position: absolute;
  bottom: 24%;
  left: 40%;
}

#home-page {
  position: absolute;
  bottom: 24%;
  left: 50%;
}
#process-page {
  position: absolute;
  bottom: 24%;
  left: 60%;
}

#links {
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 999;
  position: absolute;
  height: 20%;
  width: 100%;
}




#motto {
  font-style: italic;
  color: #f7f7ed;
  font-family: sans-serif;
  font-size: 15px;
  position: absolute;
  bottom: 45%;
  left: 6%;
  z-index: 10;
}



#warning_image {
  width: 100px;
  height: 100px;
  position: relative;
  left: 400px;
  bottom: 150px;
}

#pollutant_text {
  position: absolute;
  bottom: 60%;
  left: 4%;
}

#reaction_form {
  position: absolute;
  left: 6%;
  top: 80%; /* Center vertically */
  transform: translateY(-50%);
  width: 75%;
  box-shadow: 20px 20px rgba(34, 50, 161, 0.7);
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 30%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


button {
  position: absolute;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 20%;
  border: 2px solid lightblue;
  background: none;
  color: lightblue;
  cursor: pointer;
  outline: none;
  transition: 200ms;
  bottom: 15%;
  left: 4%;
}

#pollutant_label {
  position: absolute;
  bottom: 75%;
  left: 4%;
}

button:hover {
  color: whitesmoke;
  border: 2px solid whitesmoke;
}

i {
  position: absolute;
  color: transparent;
  transition: 200ms;
}
button:focus {
  color: transparent;
  outline: none;
  border: 2px solid transparent;
  border-radius: 50%;
  width: 15%;
  height: 10%;
  bottom: 15%;
  left: 5%;
  border-left: 2px solid lightblue;
  animation: spin 2s 500ms forwards;
}
button:focus i {
  animation: check 300ms 2250ms forwards;
}

@keyframes spin {
  80% {
    border: 2px solid transparent;
    border-left: 2px solid lightblue;
  }
  100% {
    transform: rotate(720deg);
    border: 2px solid lightblue;
  }
}

@keyframes check {
  to {
    color: lightblue;
  }
}