body {
      font-family: Arial, sans-serif;
      background-color: #121212;
      color: #f0f0f0;
      text-align: center;
}

#viewport {
    width: 900px;
    height: 600px;
    margin: 30px auto;
    border: 2px solid #333;
    border-radius: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}