<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>Sign in</h2>
  <form id = "signin-form">
      <section class="username">
          <label for="user">Enter your username:</label>
          <input type="text" name="user" id="user" required>
      </section>
      <br>
      <br>
      <br>
      <section class="password">
          <label for="pass">Enter your password:</label>
          <input type="text" name="pass" id="pass" required>
      </section>
      <section class = "submission">
          <input type = "submit" value = "Submit">
      </section>
  </form>
  <a href="/home">Return to home page</a>
</body>
</html>